<!-- <p>
  thankyou works!
</p>
 -->

<div fxLayout="column" fxLayoutAlign="center center" style="border: none">
  <br>
  <div class="divBorder">

    <!-- <H1> Registration </H1> -->
    <img src="http://www.thepanelstation.com/htmlfiles/confirmation-template/images/thankyou-for-registration-confirmation-temp-eng.png"
      alt="THANK YOU">
    <!-- <nav>
      <a routerLink="/registrationForm" routerLinkActive="active">Registration</a>
      <a routerLink="/thankyou" routerLinkActive="active">Thank You</a>
      </nav> -->
  </div>
  <div class="divBorder" style="width: 100%" class="wrapper">
    <button class="button"><a routerLink="/registrationForm"> Back to registration form</a></button>
  </div>
  <br>
</div>