.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 55%;
    left : 40%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 32px 16px;
    font-size: 24px;
}